<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- A simple bean definition -->
	<bean id="Triarius"
		class="com.andersen.legionCamp.entities.campPopulation.Legionarius">
		<!-- collaborators and configuration for this bean go here -->
		<constructor-arg value="Mark Aurelius" />
		<constructor-arg value="5" />
		<constructor-arg value="5" />
		<constructor-arg value="10" />
		<constructor-arg value="2" />
	</bean>
	
	<bean id="Evocatus"
		class="com.andersen.legionCamp.entities.campPopulation.Evocatus">
		<!-- collaborators and configuration for this bean go here -->
		<constructor-arg value="Julius Cicero" />
		<constructor-arg value="5" />
		<constructor-arg value="5" />
		<constructor-arg value="10" />
		<constructor-arg value="2" />
		<constructor-arg ref="BuildSkill" />
	</bean>
	
	<bean id="BuildSkill"
		class="com.andersen.legionCamp.entities.PopulationSkills.BuildSkill">
		<!-- collaborators and configuration for this bean go here -->
	</bean>

	<!-- more bean definitions go here -->

</beans>